    <div class="container-fluid">
            <div class="navbar-header" href="#">
                {{#link-to 'index' class="navbar-brand"}}Home{{/link-to}}
            </div>
            <ul class="nav navbar-nav">
                <li>{{#link-to 'about'}}about{{/link-to}}</li>
                <li>{{#link-to 'favorites'}}favorites{{/link-to}}</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{{#link-to 'login'}}Sign in{{/link-to}}</li>
                <li>{{#link-to 'logout'}}Sign out{{/link-to}}</li>
            </ul>
    </div>
<div class="container-fluid" style="margin-top: 70px;">
{{outlet}}
</div>