<h1>Welcome!</h1>
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>Standart Chartered Representatives would love to help you<br>choose a destination or answer
    any questions you may have.</p>
  <p>
    Standart Chartered HQ
    <address>
      1212 Test Address Avenue<br>
      Testington, OR 97233
    </address>
    <a href="tel:xxx-xxx-xxxx">130-xxx-xxxx</a><br>
    <a href="mailto:javanbe@outlook.com">javanbe@outlook.com</a>
  </p>
  {{#link-to 'about'}}About{{/link-to}}
</div>
{{outlet}}
